include README.md
include requirements.txt
include pyproject.toml
include setup.py
include MANIFEST.in
recursive-include ichis_theme_control *.py
recursive-include ichis_theme_control *.txt
recursive-include ichis_theme_control *.json
recursive-include ichis_theme_control *.html
recursive-include ichis_theme_control/public *
recursive-include ichis_theme_control/templates *
recursive-include ichis_theme_control/config *
recursive-include ichis_theme_control/gf_theme_control *
recursive-include ichis_theme_control/api *
