include README.md
include requirements.txt
include pyproject.toml
include setup.py
include MANIFEST.in
recursive-include ichis *.py
recursive-include ichis *.txt
recursive-include ichis/public *
recursive-include ichis/templates *
recursive-include ichis/config *
recursive-include ichis/ichis_theme_app *
